<div class="table col-md-8">
  <table class="table">
    <thead class="">
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>salary</th>
        <th>email</th>
        <th>phone</th>
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.name }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.phone }}</td>
      </tr>
    </tbody> -->
  </table>
</div>
